<div class="main-content section_padding_50">
	<div class="container-fluid">
		<div class="container">
			<div style="text-align:center">
				<h1>About Agora Vote</h1>
				<h3>
          Agora Vote is an open-source web application that implements a number of vote-counting algorithms.
          <br />Users can create elections and invite others to vote.
        </h3>
			</div>
			<div class="card">
				<div class="card-body">
					<h3>Web Application</h3>
					<p>Agora Vote is implemented using Scala. The project uses the Angular 6 web framework.</p>
					<h3>Open Source</h3>
					<p><a href="https://gitlab.com/aossie/Agora/">The Agora project on GitLab</a> is maintained by AOSSIE (Australian Open
						Source Software Innovation and Education), an umbrella organization for open-source projects.</p>
					<h3>Voting Algorithms</h3>
					<p>Currently, the following voting algorithms are implemented:</p>
					<ul class="list-group">
						<li class="list-group-item"><strong>EVACS</strong> - an imitation of eVACS, the STV system used for counting votes in 
              Australian Capital	Territory. The ACT Electoral Act specifies the STV method used in ACT.</li>
          <li class="list-group-item"><strong>Simple</strong> - a simple STV counting algorithm.</li>
          <li class="list-group-item"><strong>Egalitarian</strong></li>
          <li class="list-group-item"><strong>Majority</strong></li>
          <li class="list-group-item"><strong>Borda</strong></li>
          <li class="list-group-item"><strong>Approval</strong></li>
          <li class="list-group-item"><strong>Nanson</strong></li>
          <li class="list-group-item"><strong>Kemeny-Young</strong></li>
        </ul>
      </div>
    </div>
		</div>
	</div>
</div>